:root {
  background: url(../images/game-dice-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hidden {
  display: none;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select {
  padding: 5px;
  font-size: 20px;
  margin: 20px;
}
.input {
  padding: 5px;
  font-size: 20px;
  margin:20px;
  text-align: center;
}
.button {
  padding: 5px;
  font-size: 20px;
  margin:20px;
  text-align: center;
}
.text {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:blueviolet;
}
.title {
  margin:20px;
  font-size: 30px;
}
.result {
font-size: 25px;
}
.money{
  font-size: 25px;
}
